* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgray;

}

html {
    scroll-behavior: smooth;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(7, 7, 7, .4), rgba(10, 10, 10, .7)), url(../assets/images/about-us-page-heading.jpg);
    color: lightgray;
    padding: 1.2em 3em 2em ;
    
}

header .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-bottom: 1.3em;
}

.head .logo h2 {
    width: 25px;
    height: 25px;
    background: grey;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.head .means {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.means nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0;  
}

.means nav ul li {
    text-transform: capitalize;
    font-size: 1.1em;
    font-weight: 700;
}

.means nav ul li p {
    color: darkgray;
    cursor: pointer;
}

.means nav ul .em .btnn{
    outline: none;
    background: radial-gradient(black, lightgray);
    border: none;
    font-size: .9em;
    font-weight: 500;
    text-transform: capitalize;
    color: lightgrey;
    padding: .4em 1.5em;
    border-radius: .5em;
}

.means .input {
    width: 220px;
    height: 33px;
    position: relative;
}

.means .input input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 1px solid lightgray;
    border-radius: .3em;
    padding: .6em 2em .6em 1.2em;
    font-size: .8em;
    color: gray;
    font-weight: 700;
    margin-left: 2em;
}

.means .input input:focus {
    border: 1px solid lightslategray;
}

.means .input img {
    position: absolute;
    top: 10px;
    right: -1.3em;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
}

.emmaccont .words {
    font-size: 1.7em;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: .4em;
    text-align: center;
}

.emmaccont .per {
    font-size: 1em;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.emmaccont .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1.1em;
}

.button .sbtn {
    outline: none;
    border: 1px solid hsl(0, 0%, 100%);
    padding: .6em 1.2em;
    color: aliceblue;
    font-size: .6em;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    border-radius: .4em;
    cursor: pointer;
}

.button .sbtn:hover {
    background: hsl(0, 0%, 100%);
    color: black;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px, auto);
    padding: 5em 6em 5em;
    gap: 30px;   
}

.images .apiimg {
    background-image: radial-gradient(lightgray, darkgray);
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.images .apiimg h2 {
    padding-top: 1em;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(180deg, rgb(87, 78, 78), rgb(38, 10, 10));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.images .apiimg .price {
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(93, 130, 130);
}

.images .apiimg .price span {
    font-size: 1.9em;
}

.images .apiimg .cart {
    width: 70%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(7, 7, 7, .4);
    color: darkgray;
    padding: .8em 1em;
    border-radius: .6em;
    font-size: 1.01em;
}

.images img {
    /* display: block; */
    width: 250px;
    height: 280px;
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(7, 7, 7, .4), rgba(10, 10, 10, .7)), url(../assets/images/about-us-page-heading.jpg);
    color: lightgray;
    padding: 1.2em 4em;
}

footer .footertop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0 2.3em;
    align-items: center;
    margin-top: 1.5em;
    border-bottom: 1px solid darkgray;
    border-width: 100%;
}

.footertop .shopdetails .logo {
    margin-bottom: 2em;
}

.footertop .shopdetails .logo p {
    width: 25px;
    height: 25px;
    background: grey;
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    display: grid;
    place-content: center;
    border-radius: 50%;
}

.footertop .shop {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footertop .shop p {
    font-size: .9em;
    font-weight: 600;
    cursor: pointer;
}

.footertop .shop p:hover {
    color: darkgray;
}

.footertop .shop h3 {
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: .6em;
}

footer .footerbottom {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerbottom p {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1.2em;
}

.footerbottom .icons {
    display: flex;
    gap: 15px;
}

.footerbottom .icons a {
    text-decoration: none;
    color: lightgray;
}

.footerbottom .icons a img {
    
    width: 27px;
    height: 27px;
    border: 1px solid darkgrey;
    border-radius: 50%;
}